---
title: レイアウトに指定したタイトル
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title }}</title>
		<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
		<link rel="stylesheet" href="{{ csspath }}style.css">
	</head>
	<body>
		<header class="header">
			<div class="header__inner header__flex">
				<a class="header__link" href="https://kentalog.work/_site/"><h1 class="header__title" >{{title}}</h1></a>
				<img class="header__img" src="./images/cart.png" alt="">
			</div>
		</header>
		{{ content | safe }}
		<footer class="footer">
			<small class="footer__copy">©masuda_raba-bando</small>
		</footer>
		<script src="{{jspath}}ecsite.js"></script>
	</body>
</html>