---
title: レイアウトに指定したタイトル
css: レイアウトに指定したスタイル
js: JavaScript
path: index.html
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
		<link rel="stylesheet" href="{{ css }}" />
		<title>{{ title }}</title>
	</head>
	<body>
		<header class="header">
			<h1 class="header__title"><a href="{{ path }}">CardRARE</a></h1>
			<nav class="header__nav">
				<ul class="header__flex">
					<li class="header__item"><a href="{{ path }}">HOME</a></li>
					<li class="header__item"><a href="{{ path }}#product">ABOUT</a></li>
				</ul>
			</nav>
		</header>
		<main class="main">
			{{ content | safe }}
		</main>
		<footer class="footer">
			<h1 class="footer__title"><a href="{{ path }}">CardRARE</a></h1>
			<nav class="footer__nav">
				<ul class="footer__flex">
					<li class="footer__item"><a href="{{ path }}">HOME</a></li>
					<li class="footer__item"><a href="{{ path }}#product">PRODUCT</a></li>
				</ul>
				<small class="footer__small">&copy;haru 2022 All rights reserved</small>
			</nav>
		</footer>
		<script src="{{ js }}"></script>
	</body>
</html>