.header{
    height: 120px;
    border-bottom: 1px solid #000;
    &__inner{
        margin: 0 (25em/14);
    }
    &__logo{
        position: absolute;
        margin: 0;
        top: 45px;
        left: 550px;
        right: auto;
    }
    &__nav{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: (24.5em/14) 0;
        top: 50px;
        &__list{
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-items: center;
            &__contnet{

            }
            &__contnet ion-icon{
                font-size: 20px;
            }
        }
    }
}

ion-icon{
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 415px) {
    .header{
        height: 80px;

        &__logo{
            font-size: 21px;
            position: absolute;
            margin: 0;
            top: 50px;
            left: 120px;
            right: auto;
        }
        &__nav{

        }
    }
    ion-icon{
        width: 18px;
        height: 18px;
    }
}

.cart{
}