@charset "utf-8";

@mixin pc {
    @media screen and (max-width: 860px) {
        @content
    }
}

body {
    font-size: 1rem;
    line-height: 1.7;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.header {

    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #00A0E9;
    color: #fff;
    align-items: center;
    flex-wrap: nowrap;

    &__title {
        font-size: 2rem;
    }

    &__flex {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    &__item {
        margin-left: 20px;
    }
}

.title {
    margin: 50px auto;
    font-size: 2rem;
    text-align: center;
    color: #00A0E9;
}

.product {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;

    &__card {
        width: 20%;
        margin: 20px 50px;

        @include pc {
            width: 40%;
            margin: 10px 10px;
        }

        &-hidden {
            display: none;

            @include pc {
                display: block;
            }
        }
    }

    &__text {
        font-size: 1.25rem;
        margin-top: 20px;

        @include pc {
            font-size: 0.75em;
            margin-top: 5px;
        }
    }
}

.card {

    position: relative;
    width: 100%;

    &__image {
        aspect-ratio: 1/1;
        background-color: #666;
        display: flex;
        align-items: center;
    }

    &__soldout {

        display: block;
        position: absolute;
        width: 50%;
        left: 0;
        top: 0;

        &-true {
            display: none;
        }
    }

    &__price {
        font-weight: bold;
        position: absolute;
        bottom: 20px;
        left: 0;
        background-color: #aaa;
        color: #fff;
        border-radius: 0 20px 20px 0;
        padding: 10px 20px;

        @include pc {
            font-size: .75rem;
            font-weight: normal;
            bottom: 10px;
            padding: 5px 10px;
        }
    }
}

.button {
    display: block;
    margin: auto;
    font-size: 1.5rem;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #00A0E9;
    border: #00A0E9 1px solid;
    color: #fff;

    &:hover {
        background-color: #fff;
        color: #00A0E9;
        transition: all .4s;
    }

    @include pc {
        display: none;
    }
}

.footer {
    margin-top: 40px;
    text-align: center;
    background-color: #00A0E9;
    color: #fff;
    padding: 30px;

    &__flex {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    &__item {
        margin-left: 20px;
    }
}

.single {
    margin: 80px auto 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;

    @include pc {
        display: block;
        width: 90%;
    }

    &__block {
        position: relative;
        width: 40%;
        margin: 0 20px;

        @include pc {
            width: 100%;
            margin: 0;
        }
    }

    &__image {
        position: relative;
        width: 100%;

        &-main {
            aspect-ratio: 1/1;
            background-color: #666;
            display: flex;
            align-items: center;

            & img {
                width: 100%;
            }
        }
    }

    &__soldout {

        display: block;
        position: absolute;
        width: 50%;
        left: 0;
        top: 0;

        &-true {
            display: none;
        }
    }

    &__flex {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
    }

    &__item {
        width: 32%;
        cursor: pointer;
        aspect-ratio: 1/1;
        background-color: #666;
        display: flex;
        align-items: center;
    }

    &__title {
        margin-top: 20px;
        font-size: 2rem;
    }

    &__price {
        color: #f00;
        font-size: 1.75rem;
        font-weight: bold;
        margin-top: 20px;
    }

    &__subtitle {
        color: #00A0E9;
        font-size: 1.75rem;
        margin-top: 20px;
    }

    &__text {
        height: 300px;
    }

    &__button {
        padding: 20px 0;
        border-radius: 20px;
        width: 100%;
        color: #fff;
        background-color: #c00;
        font-size: 1.5rem;
        border: #c00 1px solid;

        &:hover {
            background-color: #fff;
            color: #c00;
            transition: all .4s;
        }

        &-sub {
            margin-top: 20px;
            padding: 10px 0;
            border-radius: 15px;
            width: 100%;
            color: #fff;
            background-color: #0c0;
            border: #0c0 1px solid;

            &:hover {
                background-color: #fff;
                color: #0c0;
                transition: all .4s;
            }
        }
    }

    &__return {
        margin-top: 60px;
        width: fit-content;
        font-size: 1.5rem;
        padding: 10px 30px;
        border-radius: 10px;
        background-color: #00A0E9;
        border: #00A0E9 1px solid;
        color: #fff;

        &:hover {
            background-color: #fff;
            color: #00A0E9;
            transition: all .4s;
        }
    }
}