@media (min-width: 800px) {
  .off {
    display: none;
  }
}

@media (min-width: 800px) {
  .on {
    display: block;
  }
}

.header {
  background-color: #fcad3d;
  align-items: center;
  padding-bottom: 1em;
  padding-top: 1em;
}
.header__inner {
  width: 90%;
  margin: auto;
}
.header__title {
  text-align: center;
}
.header__nav {
  display: none;
  width: 30%;
  justify-content: space-between;
}
.header__list {
  list-style-type: none;
  margin: 0 0 0 2em;
}
.header__link {
  text-decoration: none;
  display: block;
  width: 30%;
}

.item {
  margin-top: 2em;
  margin-bottom: 2em;
}
@media (min-width: 800px) {
  .item {
    margin-bottom: 20em;
  }
}
.item__content {
  margin-top: 2em;
}
@media (min-width: 800px) {
  .item__content {
    margin-top: 0;
    width: 50%;
    max-width: 400px;
  }
}
@media (min-width: 800px) {
  .item__text {
    margin-top: 2em;
  }
}
@media (min-width: 800px) {
  .item__box {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 800px) {
  .item__bisual {
    max-width: 400px;
    width: 40%;
  }
}
.item__price {
  font-size: 24px;
}
.item__detail {
  margin-top: 1em;
}
.item__title {
  font-size: 30px;
  margin-bottom: 0.3em;
}
.item__in {
  display: block;
  vertical-align: bottom;
}
.item__img {
  line-height: 1em;
  width: 100%;
  display: block;
  vertical-align: bottom;
}
.item__img-box {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
}
.item__slide {
  width: 30%;
  display: block;
  vertical-align: bottom;
  cursor: pointer;
}
.item__inner {
  width: 90%;
  margin: auto;
}
@media (min-width: 800px) {
  .item__inner {
    width: 85%;
    max-width: 900px;
  }
}
.item__list {
  font-size: 20px;
  display: block;
  vertical-align: bottom;
}
@media (min-width: 800px) {
  .item__list:nth-child(3) {
    margin-bottom: 3em;
  }
}
.item__count {
  display: block;
  border: solid 1px #3c3c3c;
  padding: 0.2em;
  margin-left: 1em;
}
.item-box {
  align-items: center;
  display: flex;
}
.item__in {
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 26px;
  background-color: #44b9fc;
  border-radius: 8px;
  margin: 0.5em 0;
}
@media (min-width: 800px) {
  .item__in {
    margin-top: 3em;
  }
}
.item__span {
  margin-left: 1em;
}
.item__matter {
  list-style: none;
}

.main {
  margin-top: 3em;
  margin-bottom: 3em;
}
.main__title {
  text-align: center;
  margin-bottom: 1em;
}
@media (min-width: 800px) {
  .main__name {
    font-size: 20px;
    margin-top: 0.2em;
  }
}
.main__more {
  display: none;
}
@media (min-width: 800px) {
  .main__more {
    display: block;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #44b9fc;
    border-radius: 10px;
    padding: 0.5em 4em;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
  }
}
.main__inner {
  width: 90%;
  margin: auto;
}
.main__content {
  width: 45%;
  margin-bottom: 4em;
}
@media (min-width: 800px) {
  .main__content {
    width: 26%;
  }
}
.main__link {
  width: 100%;
  display: block;
  background-color: green;
}
.main__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main__img {
  display: block;
  width: 100%;
}
.main__status {
  margin-top: 0.2em;
  color: #fff;
  text-align: center;
  width: 50%;
  background-color: #44b9fc;
  border-radius: 5px;
  padding: 0.2em;
}

.footer {
  padding: 1em;
  background-color: #f7740f;
}
.footer__box {
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin-left: 60%;
}
@media (min-width: 800px) {
  .footer__box {
    width: 20%;
    margin-left: 75%;
  }
}
.footer__img {
  display: block;
  width: 17%;
}
.footer__copy {
  display: block;
  color: #fff;
  text-align: center;
  margin-top: 1em;
}