
<div>
    <ul>
        <li>
            <a href="./goods/">
            <img src={{goods[0].itemphotos[0] }}  alt="">
            <h4>{{goods[0].name}}</h4>
            <p>{{goods[0].text}}</p>
            </a>
        </li>
    </ul>
</div>
