---
pagination:
  data: cards
  size: 1
permalink: 'cards/{{ pagination.items[0].url | slugify }}/'
---

<ul>
	<li>{{ pagination.items[0].name }}</li>
    <img src="../../images/{{ pagination.items[0].url }}_image.jpg" alt="">
	<li>{{ pagination.items[0].price }}</li>
    <li>{{ pagination.items[0].text }}</li>
</ul>