---
title: bodyMakerグローブ
pagination:
data: authors
size: 1
alias: good
	permalink: 'goods/{{goods.name | slugify }}/'
	layout: layout.njk
	csspath: ../css/
---
<img src="../images/globe.png" alt="">
<h1>{{ title }}</h1>
<div>メイン著者： {{ members[0].name }}</div>
<ul>
	{% for member in members %}
	<li>{{ member.name }} : {{ member.title }}</li>
	{% endfor %}
</ul>


<ul>
	{% for goods in goods %}
	<li> {{ goods.price }} </li>
	{% endfor %}
</ul>
{# これ #}
<ul>
	<li>{{goods.name }}</li>
	{# <li>{{ pagination.items[0].title }}</li> #}
</ul>

