---
title: 個人ページ
pagination:


  data: goods
  size: 1
permalink: 'globe/{{ pagination.items[0].url | slugify }}/'

layout: layout.njk
csspath: ../../css/
---
  <header>
  <h1><a href="../../index.html"><img class="logo_menu" src="../../images/logo.png" alt=""></a></h1>
  <nav>
    <ul>
		 <li><a href="../../index.html">Home</a></li>
		<li><a href="../../index.html">about</a></li>
      <li><img src="../../images/cart_icon.png" alt=""></li>
    </ul>
  </nav>
</header>

  
<ul>
	<div class="inner">
	<section class="kobetu_main">
		
		<div class="kobetu_single">
				<h1 class="pc_title">{{ pagination.items[0].name }}</h1>
	<img class="big"src="../../images/{{ pagination.items[0].itemphotos[0] }}" alt="">
	<br>
	<img class="small" src="../../images/{{ pagination.items[0].itemphotos[0] }}" alt="">
	<img class="small" src="../../images/{{ pagination.items[0].itemphotos[1] }}" alt="">
	<img class="small" src="../../images/{{ pagination.items[0].itemphotos[2] }}" alt="">
	<img class="small" src="../../images/{{ pagination.items[0].itemphotos[3] }}" alt="">
	</div>
	
	<div class="kobetu_single2">

		
	
	<h1 class="sumaho_title">{{ pagination.items[0].name }}</h1>
	<h2>¥{{ pagination.items[0].price }}</h2>
	<li class="statas">{{ pagination.items[0].state }}</li>
	<li>説明:{{ pagination.items[0].text }}</li>
	<li>ID:{{ pagination.items[0].id }}</li>
	<li>カラー:{{ pagination.items[0].colors }}</li>
	<li>メーカー{{ pagination.items[0].maker }}</li>
	
	<div class="kazu_kobetu">
	<li class="kazu_1">教量</li>

	<div class="kazu_2">
		<input type="number"1>
	</div>

</div>
	<h2 class="cart_in">カートに入れる</h2>
	<p class="tyui">注意事項:扱いには注意してください<br>:一週間以内にお届けします！<br>:保証なし</p>
</div>

</section>
</div>

<footer>
  <hr>
  <p class="footer_p">funahashi@2022.ecsite</p>
</footer>

<script src="../../js/globe.js"></script>