{# ---
pagination:
  data: goods
  size: 1
permalink: 'goods/{{ pagination.goods.url | slugify }}/'
---

<ul>
	<li>{{ pagination.goods[0].name }}</li>
	<li>{{ pagination.goods[0].price }}</li>
</ul>

<img src="/images/{{ pagination.goods[0].itemphotos[0] }}" />
<img src="/images/{{ pagination.goods[0].itemphotos[1] }}" />
<img src="/images/{{ pagination.goods[0].itemphotos[2] }}" /> #}

{# <!--  画像をループで取得 -->
{% for photo in pagination.goods[0].itemphotos %}
<img src="/images/{{ photo }}" />
{% endfor %} #}