---
title: KitaitiShop
layout: layout.njk
path: ./css
---
    
    <header class="header">
        <div class="header__inner">
            <a href="/ecsite" class="header__link"><h1 class="header__title">{{ title }}</h1></a>
            <div class="header__cart">
                <img src="./images/header/cart_icon.png" alt="carticon" class="header__icon">
            </div>
        </div>
    </header>

    <main>
        <div class="main">
            <div class="main__inner">
                <h2 class="main__title">ITEM</h2>
                <div class="main__box">
                        {% for content in item %}
                        <div class="main__content">
                            <a href="./item/{{ content.url }}" class="main__link">
                            <img src="./images/{{ content.url }}/{{ content.itemphotos[0] }}" alt="メイン画像" class="main__img">
                            </a>
                            <p class="main__name">{{ content.name }}</p>
                            <p class="main__price">¥{{ content.price }}</p>
                            {% if content.state === false %}
                            <div class="main__status">soldout</div>
                            {% endif %}
                        </div>
                        {% endfor %}
                </div>
                <span class="main__more">MORE</span>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer">
            <div class="footer__inner">
                <div class="footer__box">
                    <img src="./images/other/instagram.png" alt="インスタグラムのアイコン" class="footer__img">
                    <img src="./images/other/line.png" alt="ラインのアイコン" class="footer__img">
                    <img src="./images/other/twitter.png" alt="ツイッターのアイコン" class="footer__img">
                </div>
                <small class="footer__copy">&copy;2022KitaitiShop</small>
            </div>
        </div>
    </footer>
    <script src="./js/main.js"></script>
