---
pagination:
  data: goods
  size: 1
  alias: item
layout: layout.njk
permalink: 'item/{{ pagination.items[0].id | slugify }}/'
---
<h1>{{ pagination.items[0].name }}</h1>
<ul>
	<li>{{ pagination.items[0].name }}</li>
	<li>{{ pagination.items[0].price }}円</li>
</ul>