---
pagination:
  data: products
  size: 1
  alias: product
permalink: 'products/{{ product.url | slugify }}/'
layout: layout.njk
csspath: ../../css/
jspath: ../../js/
imgpath: ../../images/
---

{{ products | log }}

{# <ul>
  <li><img src="../../images/{{ product.itemphotos[0] }}" alt=""></li>
	<li>{{ product.name }}</li>
	<li>{{ product.price }}</li>
  <li>{{ product.state }}</li>
  <li>{{ product.text }}</li>
  <li>{{ product.id }}</li>
  <li>{{ product.colors }}</li>
</ul> #}

<header class="header sHeader">
	<div class="header__inner">
		<div class="header__menu">
			<h1 class="header__title">
				<a href="../../index.html">
		<img src="{{ imgpath }}logo.png" alt="MOFU">
		</a>
	</h1>
	<div class="header__cart">
		<img src="{{ imgpath }}cart.svg" alt="">
	</div>
		</div>
	</div>
</header>

<main class="main">
<div class="main__sInner">
	<section class="main__products products">

		<div class="products__flex">
			<div class="products__sImg-all">
				<div class="products__sImg">
					<img class="products__mainimg" src="{{ imgpath }}{{ product.itemphotos[0] }}" alt="">
				</div>
				<div class="products__oImg-all">
					<div class="products__other-sImg">
						<img class="products__imglist" src="{{ imgpath }}{{ product.itemphotos[0] }}" alt="">
					</div>
					<div class="products__other-sImg">
						<img class="products__imglist" src="{{ imgpath }}{{ product.itemphotos[1] }}" alt="">
					</div>
					<div class="products__other-sImg">
						<img class="products__imglist" src="{{ imgpath }}{{ product.itemphotos[2] }}" alt="">
					</div>
					<div class="products__other-sImg">
						<img class="products__imglist" src="{{ imgpath }}{{ product.itemphotos[3] }}" alt="">
					</div>
					<div class="products__other-sImg">
						<img class="products__imglist" src="{{ imgpath }}{{ product.itemphotos[4] }}" alt="">
					</div>
				</div>
			</div>

			<div class="products__info">
			<p class="products__sName">{{ product.name }}</p>
			<p class="products__sell">sold out</p>
			<p class="products__sPrice">¥{{ product.price }}</p>
			<p class="products__text">{{ product.text }}</p>
			<ul class="products__data">
				<li class="products__pNumber">品番：{{ product.id }}</li>
				<li class="products__pColor">カラー：{{ product.colors }}</li>
				<li class="products__pSize">サイズ</li>
			</ul>
			<input type="number" class="products__number" name="iNumber" min="0" max="30" value="0">
			{# {% if  {{ product.state }} %}
			//==を書く
			{% else %} #}
			{# {% endif %} #}

			<button class="products__btn">カートに入れる</button>
			</div>
		</div>
	</section>
	<ul>
	{% for product in products %}
	<li><a href="../products/{{ product.url }}"> {{ product.url }} </a></li>
	{% endfor %}
</ul>
</div>
</main>

<footer class="footer"></footer>