---
pagination:
  data: products
  size: 1
  alias: product
permalink: 'products/{{ product.url | slugify }}/'
layout: layout.njk
csspath: ../../css/
jspath: ../../js/
imgpath: ../../images/
---

{{ products | log }}

{# <ul>
  <li><img src="../../images/{{ product.itemphotos[0] }}" alt=""></li>
	<li>{{ product.name }}</li>
	<li>{{ product.price }}</li>
  <li>{{ product.state }}</li>
  <li>{{ product.text }}</li>
  <li>{{ product.id }}</li>
  <li>{{ product.colors }}</li>
</ul> #}

<header class="header sHeader">
	<div class="header__inner">
		<div class="header__menu">
			<h1 class="header__title">
				<a href="../../index.html">
		<img src="{{ imgpath }}logo.png" alt="MOFU">
		</a>
	</h1>
	<div class="header__cart">
		<img src="{{ imgpath }}cart.svg" alt="">
	</div>
		</div>
	</div>
</header>

<main class="main">
<div class="main__sInner">
	<section class="main__products products">

		<div class="products__flex">
			<p class="products__sName2">フラワーハーネス</p>
			<div class="products__sImg-all">
				<div class="products__sImg">
					<img class="products__mainimg" src="{{ imgpath }}{{ product.itemphotos[0] }}" alt="">
				</div>
				<div class="products__oImg-all">
					<div class="products__other-sImg">
						<img class="products__imglist" src="{{ imgpath }}{{ product.itemphotos[0] }}" alt="">
					</div>
					<div class="products__other-sImg">
						<img class="products__imglist" src="{{ imgpath }}{{ product.itemphotos[1] }}" alt="">
					</div>
					<div class="products__other-sImg">
						<img class="products__imglist" src="{{ imgpath }}{{ product.itemphotos[2] }}" alt="">
					</div>
					<div class="products__other-sImg">
						<img class="products__imglist" src="{{ imgpath }}{{ product.itemphotos[3] }}" alt="">
					</div>
					<div class="products__other-sImg">
						<img class="products__imglist" src="{{ imgpath }}{{ product.itemphotos[4] }}" alt="">
					</div>
				</div>
			</div>

			<div class="products__info">
			<p class="products__sName">{{ product.name }}</p>
			<p class="products__sell">sold out</p>
			<p class="products__sPrice">¥{{ product.price }}</p>
			<p class="products__text">{{ product.text }}</p>
			<ul class="products__data">
				<li class="products__pNumber">品番：{{ product.id }}</li>
				<li class="products__pColor">カラー：{{ product.colors }}</li>
				<li class="products__pSize">サイズ：{{ product.size }}</li>
			</ul>
			<input type="number" class="products__number" name="iNumber" min="0" max="30" value="0">
			{# {% if  {{ product.state }} %}
			//==を書く
			{% else %} #}
			{# {% endif %} #}

			<button class="products__btnB">カートに入れる</button>

			<div class="products__notes notes">
                <p class="notes__text">
                  ※こちらの価格には消費税が含まれています。
                </p>
                <p class="notes__text">※全品送料無料です。</p>
              </div>
			</div>
		</div>
	</section>
</div>
</main>

<footer class="footer">
	<div class="footer__inner">
		<div class="footer__logo">
			<h1 class="footer__title">
				<a href="../index.html">
              		<img src="{{ imgpath }}logo.png" alt="MOFU" />
            	</a>
			</h1>
		</div>
	</div>
	<div class="footer__mMagazine mMaga">
          <p class="mMaga__title">MAIL MAGAZINE</p>
          <p class="mMaga__text">最新情報をお届けします</p>
          <div class="mMaga__textBox">
            <input
              type="email"
              class="mMaga__email"
              size="30"
              placeholder="mof@example.com"
            />
            <input type="submit" class="mMaga__btn" value="&gt;" />
          </div>
        </div>
		<nav class="footer__nav nav">
          <ul class="nav__ul">
            <li class="nav__li"><a href="#">FAQ</a></li>
            <li class="nav__li"><a href="#">お問い合わせ</a></li>
            <li class="nav__li"><a href="#">利用規約</a></li>
            <li class="nav__li"><a href="#">特定商取引法に基づく表記</a></li>
            <li class="nav__li"><a href="#">プライパシーポリシー</a></li>
          </ul>
        </nav>
        <p class="footer__copy">©2022mofu_goodsshop</p>
</footer>