body{
  font-size: 14px;
}

ul{
  padding: 0;
}

li{
  list-style: none;
}

.main{
  &__inner{

  }
  &__content{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  &__visaul{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #666;
    &__img{
    }
  }
  &__text{
    width: 60%;
    padding-left: (40em/16);
    &__title{

    }
    &__bay.bay{
      display: flex;
      justify-content: space-between;
      margin: (40em/16) 0;
      .bay{
        &__price{
          &__span{

          }
          &__btn{
            &__p{

            }
          }
        }
      }
    }
    &__discriot{
      margin: (20em/14) 0;
    }
    &__g-tag.g-tag{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      .g-tag{
        &__item{
          padding: 0 (10em/14);
        }
      }
      &__specification{
       .main__table{
        border: 1px solid #000;
        tr{
          border: 1px solid #000;
        }
        th{
          border: 1px solid #000;
        }
        td{
          border: 1px solid #000;
        }
       } 
      }
    }
  }
}