@mixin img {
    display: block;
    vertical-align: bottom;
}

// header
.header{
    background-color: #fcad3d;
    align-items: center;
    padding-bottom: 1em;
    padding-top: 1em;
    &__inner{
        width: 90%;
        margin: auto;
    }

    &__title{
        text-align: center;
    }

    &__nav{
        display: none;
        width: 30%;
        justify-content: space-between;
    }

    &__list{
        list-style-type: none;
        margin: 0 0 0 2em;
    }

    &__link{
        text-decoration: none;
        display: block;
        width: 30%;
    }
}

// item
.item{
    &__title{
        text-align: center;
    }

    &__in{
        @include img();
    }

    &__img{
        line-height: 1em;
        width: 100%;
        @include img();
        &-box{
            margin-top: 0.5em;
            display: flex;
        }
    }

    &__slide{
        width: 30%;
        @include img();
    }

    &__inner{
        width: 90%;
        margin: auto
    }

    &__list{
        @include img();
    }
}


// index
.main{
    margin-top: 3em;
    &__title{
        text-align: center;
        margin-bottom: 1em;
    }

    &__inner{
        max-width: 800px;
        width: 90%;
        margin: auto;
    }

    &__content{
        width: 40%;
    }

    &__link{
        width: 100%;
        display: block;
        background-color: green;
    }

    &__box{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__img{
        display: block;
        width: 100%;
    }
}



.footer{
    background-color: #f7740f;
    &__img{
        width: 7%;
    }
}