@mixin img {
    display: block;
    vertical-align: bottom;
}

// header
.header{
    background-color: #fcad3d;
    align-items: center;
    padding-bottom: 1em;
    padding-top: 1em;
    &__inner{
        width: 90%;
        margin: auto;
    }

    &__title{
        text-align: center;
    }

    &__nav{
        display: none;
        width: 30%;
        justify-content: space-between;
    }

    &__list{
        list-style-type: none;
        margin: 0 0 0 2em;
    }

    &__link{
        text-decoration: none;
        display: block;
        width: 30%;
    }
}

// item
.item{
    margin-top: 2em;
    margin-bottom: 2em;
    &__content{
        margin-top: 2em;
    }

    &__price{
        font-size: 24px;
    }

    &__detail{
        margin-top: 1em;
    }

    &__title{
        font-size: 30px;
        margin-bottom: 0.3em;
    }

    &__in{
        @include img();
    }

    &__img{
        line-height: 1em;
        width: 100%;
        @include img();
        &-box{
            margin-top: 0.5em;
            display: flex;
            justify-content: space-between;
        }
    }

    &__slide{
        width: 30%;
        @include img();
    }

    &__inner{
        width: 90%;
        margin: auto
    }

    &__list{
        font-size: 20px;
        @include img();
    }

    &__count{
        display: block;
        border: solid 1px #3c3c3c;
        padding: 0.2em;
        margin-left: 1em;
    }

    &-box{
        align-items: center;
        display: flex;
    }

    &__in{
        text-align: center;
        width: 100%;
        color: #fff;
        font-size: 26px;
        background-color: #44b9fc;
        border-radius: 8px;
        margin: 0.5em 0;
    }

    &__span{
        margin-left: 1em;
    }

    &__matter{
        list-style: none;
    }
}


// index
.main{
    margin-top: 3em;
    margin-bottom: 3em;
    &__title{
        text-align: center;
        margin-bottom: 1em;
    }

    &__inner{
        max-width: 800px;
        width: 90%;
        margin: auto;
    }

    &__content{
        width: 45%;
        margin-bottom: 4em;
    }

    &__link{
        width: 100%;
        display: block;
        background-color: green;
    }

    &__box{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__img{
        display: block;
        width: 100%;
    }
}



.footer{
    padding: 1em;
    background-color: #f7740f;
    &__box{
        width: 40%;
        display: flex;
        justify-content: space-between;
        margin-left: 60%;
    }
    &__img{
        display: block;
        width: 17%;
    }
    &__copy{
        display: block;
        color: #fff;
        text-align: center;
        margin-top: 1em;
    }
}